
/* estilo do index.html */

body {
    background-color: rgb(52, 73, 94);
    color: white;
}

.center {
    text-align: center;
}

#menu li {
    display: inline;
    padding: 10px;
}
#menu li a{
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: row;
}

.imagem {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.pt-50 {
    padding-top: 50px;
}

.pl-30 {
    padding-left: 30px;
}

.parag {
    text-align: justify;
    padding-inline: 20px;
}

.tam {
    padding-top: 15px;
    padding-inline: 10px;
    height: 40px;
    width: 40px;
}

.video {
    padding: 20px;
}

/* estilo do contato.html */

.container2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 25px;
}

.contato {
    background-color: rgb(41, 41, 90);
    padding: 30px;
    border-radius: 5%;
}

.w-250 {
    width: 250px;
}


